/* Styles */ 

body {
  margin: 0;
  padding: 0;
  background-color: rgb(129, 68, 17);
  color: rgb(230, 195, 167);
  user-select: none;
}

.cim {
  text-align: center;
  font-size: 250%;
  font-style: italic;
  text-decoration: underline;
  color: rgb(230, 195, 167);
}

.mcs {
  width: 100%;
  padding: 10px;
  background-color: rgb(87, 45, 11);
  height: auto;
}

.mcs_cim {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 200%;
  color: rgb(223, 175, 136);
  width: 100%;
}

.mcs_desc {
  font-size: 100%;
  color: rgb(223, 175, 136);
  padding-left: 5px;
  width: 100%;
}

.alj {
  position: relative;
  bottom: 0;
  width: calc(100% - 20px);
  height: 5%;
}

.cim_tarto {
  height: 5%;
  width: 100%;
}

.oldal_tartalom {
  height: 100vh;
  width: 100%;
  padding-bottom: 2%;
}

/* width */
::-webkit-scrollbar {
  background-color: rgb(87, 45, 11);
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(175, 124, 82);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 106, 71);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(82, 54, 31);
}

::-webkit-scrollbar-corner {
  background-color: rgb(87, 45, 11);
}

.pkvpd {
  text-align: center;
  margin-top: 10px;
  height: 45vh;
}

.scroller_tartalom {
  height: 45vh;
}

.scrolls_bigger {
  transform: rotateX(180deg);
  overflow-x: scroll;
  background-color: #333;
  white-space: nowrap;
  padding: 10px;
}
.scrolls {
  transform: rotateX(-180deg);
}

.scrolls img {
  padding: 5px;
  height: 30vh;
}

.scrolls_kep {
  transition: 0.3s;
}

.scrolls_kep:hover {
  opacity: 0.7;
  cursor: pointer;
}

.main_things {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.big_image {
  position: relative;
  height: 50%;
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: block;
  text-align: center;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(83, 53, 6);
  background-color: rgb(92, 59, 9);
}

.other_div {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-content: center;
}

.ojobbra {
  text-align: right;
}

.nevecskem {
  text-decoration: none;
}

#nevecskem {
  transition: color 1s;
}

#BigImage {
  cursor: default;
  opacity: 1;
}

#big_image_alt {
  font-style: italic;
}